<?xml version="1.0" encoding="UTF-8"?>
<Passwords>
<password><![CDATA[{{ SIDADMPWD }}]]></password>
<sapadm_password><![CDATA[{{ SIDADMPWD }}]]></sapadm_password>
<system_user_password><![CDATA[{{ SYSTEMDBPWD }}]]></system_user_password>
<root_password><![CDATA[{{ ROOTPWD }}]]></root_password>
</Passwords>